#nav { margin: 0; }

#nav h1 img { position: relative; top: 2px; }

#nav .controls { width: 200px; float: right; -webkit-app-region: no-drag; }

#nav .controls a { display: inline-block; width: 50px; height: 25px; text-align: center; line-height: 1.5; }

#nav .controls .secondary { color: #18742F; }

#nav .controls .default { color: #7A7A7A; }

#nav .controls .danger { color: #771414; }

.feed .avatar { width: 85px; }

.feed .avatar a img { border-radius: 50%; width: 64px; height: 64px; vertical-align: middle; }

.feed .content .image { display: inline-block; }

.feed .content img { max-width: 100%; max-height: 200px; }

.feed .content .media-post .image { float: left; margin-right: 1em; }
