#nav .controls {
	width: 200px;
	float: right;
	-webkit-app-region: no-drag;
}
#nav .controls a {
	display: inline-block;
	width: 50px;
	height: 25px;
	text-align: center;
	line-height: 1.5;
}
#nav .controls .secondary {
	color: #18742F;
}
#nav .controls .default {
	color: #7A7A7A;
}
#nav .controls .danger {
	color: #771414;
}

#profiles {
	list-style: none;
	padding: 15px 20px;
}
#profiles li {
	display: inline-block;
	padding: 0 20px;
	text-align: center;
}
#profiles li a {
	color: #555;
}
#profiles li a:hover {
	color: #888;
}
#profiles li a img {
	border-radius: 50%;
	width: 128px;
	height: 128px;
}