form {
	margin: 0;
	padding: 1em;
}

.feed {
	.avatar {
		width: 85px;
		a img {
			border-radius: 50%;
			width: 64px;
			height: 64px;
			vertical-align: middle;
		}
	}
	.content {
		.ctrls {
			float: right;
			a {
				color: #ccc;
				&:hover {
					color: $info-hover-color;
				}
			}
		}
		.image {
			display: inline-block;
		}
		img {
			max-width: 100%;
			max-height: 200px;
		}
		.media-post .image {
			float: left;
			margin-right: 1em;
		}
		.encrypted-message {
			border: 1px solid #D6D6D6;
			padding: 0.7em 1em;
			background: #eee;

			code {
				word-break: break-all;
				font-family: consolas, monospace;

				&:before {
					font-family: "entypo";
					content: "#{$entypo-icon-lock}";
					padding-right: 3px;
				}
			}

			&.decrypted {
				code:before {
					content: "#{$entypo-icon-lock-open}";
				}
			}
		}
	}
}