#nav {
  .navbar-inner {
    max-width: 1074px;
    margin: 0 auto;
  }
  margin: 0;
  background: none;

  .btn:first-child {
    margin-left: 40px;
  }
  img { position: absolute; top: 0; left: 0; height: 95px; }
}