.profile {
	.profile-avatar {
		float: left;
		padding: 0 20px;
		text-align: center;
		vertical-align: top;
	}
	.profile-avatar a {
		color: #555;
		font-size: 17.6px;
		font-size: 1.1rem;
		line-height: 1.625em;
		font-family: "Roboto";
		font-weight: 400;
	}
	.profile-avatar a:hover {
		color: #888;
	}
	.profile-avatar a img {
		border-radius: 50%;
		width: 128px;
		height: 128px;
	}
	.profile-summary {
		margin-left: 170px;
		text-align: left;
		h2 { padding-bottom: 0; }
		h3 { padding-top: 0; }
	}
	.profile-data {
		.label.none {
			background: transparent;
			border: 0;
			color: #555555;
		}
		.label, .value {
			font-size: 14px;
			font-size: 0.9rem;
			line-height: 20px;
			height: 22px;
		}
	}
	&.small {
		.profile-avatar a img {
			width: 64px;
			height: 64px;
		}
		.profile-summary {
			margin-left: 110px;
			h3 { padding-bottom: 0; }
			h4 { padding-top: 0; }
		}
	}
}

.profiles {
	margin: 0;

	.profile {
		td {
			padding: 20px 10px;
		}
		.profile-avatar {
			float: none;
		}
		.label {
			font-size: 1rem;
			font-weight: normal;
			line-height: 29px;
			height: 30px;
		}
	}
}