@import "nav";

form {
	margin: 0;
	padding: 1em;
}

.feed .avatar {
	width: 85px;
}
.feed .avatar a img {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	vertical-align: middle;
}
.feed .content .image {
	display: inline-block;
}
.feed .content img {
	max-width: 100%;
	max-height: 200px;
}
.feed .content .media-post .image {
	float: left;
	margin-right: 1em;
}