.message-summary {
  background: #fafafa;
  position: relative;
  height: 36px;
  overflow: hidden;
  border: 1px dashed #ccc;
  border-width: 1px 0;
  cursor: pointer;

  &:first-child {
    border-top-style: solid;
  }

  td {
    padding: 0 10px;
    border: 1px dashed #ccc;    
  }
  td:first-child {
    border-left-color: transparent;
  }
  td:last-child {
    border-right-color: transparent;
  }


  &:hover {
    td {
      background: white;
      border-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    td:first-child {
      border-left-color: #ccc;
    }
    td:last-child {
      border-right-color: #ccc;
    }
  }
}