.message-thread {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 6px;
}
.message-replies {
  padding-left: 50px;
  position: relative;

  // the left-side vertical bar
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 45px;
    width: 5px;
    background: #eee;
  }
}