.message-summary {
  font-family: @font-family-sans-serif;
  background: #fafafa;
  position: relative;
  height: 36px;
  overflow: hidden;
  border: 1px dashed #ccc;
  border-width: 1px 0;
  cursor: pointer;

  &:first-child {
    border-top-style: solid;
  }

  td {
    padding: 0 10px;
    border: 1px dashed #ccc;    
  }
  td:first-child {
    border-left-color: transparent;
  }
  td:nth-child(2), td:nth-child(3), td:nth-child(5) {
    white-space: pre;
  }
  td:last-child {
    border-right-color: transparent;
  }

  &:hover {
    td {
      background: #eee;
    }
  }
}