.panel.message {
  .panel-heading,
  .panel-footer {
    position: relative;
    font-size: 11px;
    background: white;
    border: 0;
    color: gray;
    a {
      color: gray;
    }
  }
  .panel-footer .pull-right {
    // use position: absolute because positioning varies if theres other content with float: right
    position: absolute;
    right: 10px;
    bottom: 10px;
    a {
      padding-left: 1em;
    }
  }
  .panel-body {
    padding: 0 15px;
  }
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  &:not(:last-child) {
    border-bottom: 0;
  }
}