.post-form {
  &.reply-form {
    padding: 15px;
    border-bottom: 1px solid @panel-default-border;
  }
  .post-form-btns {
    button, a {
      margin-right: 5px;
    }
    a {
      color: @link-color;
    }
  }
}