/*
RuntimeError: can't modify frozen Array

Backtrace:
/home/pfrazee/phoenix/web_frontend/sass/extensions/modular-scale/lib/modular-scale.rb:122:in `delete_if'
/home/pfrazee/phoenix/web_frontend/sass/extensions/modular-scale/lib/modular-scale.rb:122:in `trim_list'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:139:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:458:in `visit_variable'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:289:in `block (2 levels) in visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:289:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:289:in `block in visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:288:in `visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:292:in `visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (3 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (2 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `catch'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `block in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:131:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:392:in `visit_return'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (3 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (2 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `catch'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `block in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:131:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:123:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:123:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:123:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:123:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:123:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/operation.rb:64:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/operation.rb:64:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:287:in `visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:289:in `block (2 levels) in visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:289:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:289:in `block in visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:288:in `visit_if'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (3 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (2 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `catch'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `block in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:131:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:392:in `visit_return'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (3 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:248:in `block (2 levels) in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `catch'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:247:in `block in perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/funcall.rb:131:in `_perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:458:in `visit_variable'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:268:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:293:in `watch'
/var/lib/gems/1.9.1/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/var/lib/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/var/lib/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.9.1/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `call'
/var/lib/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "RuntimeError: can't modify frozen Array"; }
