.navbar-nav {
  li {
    button {
      margin: 10px 6px;
    }
  }
}

.user-link {
  font-weight: bold;
  color: #555;
}

iframe[seamless]{
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
  width: 100%;
}