
$timeline-staff-pos-x: 22px;

.feed {
  position: relative;

  // gray vertical bar along feed
  &:not(.nobar):before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: $timeline-staff-pos-x;
    width: 4px;
    background-color: #f3f3f3;
    z-index: -1;
  }

  &.subfeed {
    margin-left: 40px;
    &:before {
      top: -20px; // move up to connect to the parent
    }
  }

  .panel {
    margin-bottom: 12px;

    .panel-heading {
      padding: 2px 8px;
    }
    .panel-body {
      padding: 4px 10px 4px;
      > div {
      	> :first-child {
      		margin-top: 0
      	}
      }
      table {
        @extend .table-bordered;
        margin-bottom: 8px;
        th, td {
          padding: 4px 6px;
        }
      }
      > p:last-child {
        margin: 0;
      }
      .message-ctrls {
        .glyphicon {
          margin-right: 2px;
        }
        a {
          color: #888;
          .glyphicon {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .message-reply {
    margin-left: 40px;
    margin-top: -12px;
    margin-bottom: 16px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 12px;
    background: #f3f3f3;
    .publish-wrapper {
      .phoenix-event {
        background: white;
        padding: 1em;
        border-radius: 4px;
        margin: 0 0 8px;
      }
      .cancel {
        position: relative;
        top: 2px;
        margin-left: 4px;
      }
    }
  }
}

.phoenix-event {
  margin-bottom: 16px;
  margin-left: $timeline-staff-pos-x - 14px;

  .event-icon {
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #666;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 50%;
  }

  .event-body {
    margin-left: 36px;
    padding-top: 6px;
  }
}

.publish-wrapper {
  margin-bottom: 16px;
}

.feed-ctrls {
  .phoenix-event {
    margin-bottom: 26px;
  }
}

.publish-wrapper {
  .publish-preview {
    > div {
      > :first-child {
        margin-top: 6px;
      }
    }
  }
  .phoenix-event {
    margin-bottom: 24px;
  }
}

.repliesto {
  margin: 0;
  font-size: 85%;
  color: #888;
}