// Core variables and mixins
//@import "bootstrap/variables";
@import "variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
// @import "bootstrap/code";
@import "bootstrap/grid";
// @import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
// @import "bootstrap/component-animations";
// @import "bootstrap/dropdowns";
// @import "bootstrap/button-groups";
// @import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
@import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/wells";
// @import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
// @import "bootstrap/responsive-utilities";

// Home styles
.homeapp {
  visibility: visible !important;
}

$timeline-staff-pos-x: 22px;

.feed {
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: $timeline-staff-pos-x;
    width: 4px;
    background-color: #f3f3f3;
    z-index: -1;
  }

  .panel {
    margin-bottom: 12px;

    .panel-heading {
      padding: 2px 8px;
    }
    .panel-body {
      padding-top: 8px;
      padding-right: 16px;
      padding-left: 16px;
      padding-bottom: 2px;
    }
  }

  .phoenix-event {
    margin-bottom: 16px;
    margin-left: $timeline-staff-pos-x - 14px;

    .event-icon {
      float: left;
      width: 32px;
      height: 32px;
      margin-top: -7px;
      line-height: 32px;
      color: #666;
      text-align: center;
      background-color: #f3f3f3;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    .event-body {
      display: inline-block;
      margin-left: 6px;
    }
  }

}